@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
}
